<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">Media</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img  class="pageLogo" height="44" slot="end" src="../../assets/images/community life.png">
  </ion-toolbar>
</ion-header>
    
    <ion-content>

      <div class="container">
          <img src="https://static.wixstatic.com/media/399918_5a00eb0929d84538950bc50d0d7e9e6c~mv2_d_4500_3000_s_4_2.jpeg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/AdobeStock_182033526.webp" alt="Snow">
          <button type="button" button class="btn" onclick="window.location.href='https://podcasts.apple.com/us/podcast/daystar-church-audio/id767445095?mt=2';"> Podcast </button>
        </div>

      <div class="container">
          <img src="https://static.wixstatic.com/media/399918_516269a2bf5e40ff80dd883404785adc~mv2_d_3000_2000_s_2.jpg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/device-digital-ecommerce-35550.webp" alt="Snow">
          <button type="button" button class="btn" onclick="window.location.href='https://www.youtube.com/watch?v=nusCxmxMEds';"> Videos </button>
      </div>

      <div class="container">
          <img src="https://static.wixstatic.com/media/399918_038a776827f8490f95595ad3ef815c86~mv2_d_3470_2313_s_2.jpeg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/AdobeStock_145978531.webp" alt="Snow">
          <button type="button" button class="btn" onclick="window.location.href='http://live.daystargso.com/';"> Live Stream </button>
        </div>

      
    </ion-content>
    