<ion-header>
  <ion-toolbar>
    <ion-title>Blog Posts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form formGroup="postForm">
      <ion-item>
        <ion-label position="floating">Blog Title</ion-label>
        <ion-input type="text" formControlName="post_title"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Blog Content</ion-label>
          <ion-textarea rows="6" formControlName="post_body"></ion-textarea>
        </ion-item>
      
      
    </form>
   
  </ion-content>

  <ion-footer>
    <!-- for dummy -->
      <ion-button expand="block" href="/posts"  >Submit</ion-button>
      <!-- for backend -->
      <!-- <ion-button expand="block" [disabled]="!postForm.valid" (click)="savePost()">Submit</ion-button> -->
    </ion-footer>
      <!-- <ion-input type="hidden">{{user}}</ion-input>
      <ion-input type="hidden">{{user_id}}</ion-input> -->
 

  
    
