<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">Create a Blog Post!</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  autoHide="false"></ion-menu-button>
    </ion-buttons>
      <img  class="pageLogo" routerLink="/home" height="44" slot="end" src="../../assets/images/community life.png">
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-card>
  
    <form formGroup="postForm">
      <ion-item>
        <ion-label position="floating">Blog Title</ion-label>
        <ion-input type="text" formControlName="postTitle"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Blog Content</ion-label>
          <ion-textarea rows="6" formControlName="postBody"></ion-textarea>
      </ion-item>
      <!-- <ion-label position="floating">User Name</ion-label> -->
      <ion-input  type="hidden" formControlName="userName"></ion-input>
      <!-- <ion-label position="floating">User Id</ion-label> -->
      <ion-input  type="hidden" formControlName="userId"></ion-input>
    </form>
  </ion-card>
  </ion-content>

  <ion-footer>
      <ion-button color="secondary" expand="block"  href="/posts"><ion-ripple-effect></ion-ripple-effect>Submit</ion-button>
      <!-- <ion-button color="secondary" expand="block"  (click)="savePost()"><ion-ripple-effect></ion-ripple-effect>Submit</ion-button> -->
  </ion-footer>

      
 

  
    
