  
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Giving</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    
  

   <div class="container">
      <img src="http://static1.squarespace.com/static/55c37beae4b0336075603f86/55c3cd80e4b01531b3208f2e/5603032be4b008bd0ad4e6fb/1486126957019/?format=1500w" alt="Snow">
      <button type="button" button class="btn" onclick="window.location.href='https://app.securegive.com/daystargso';"> Give Now </button>
    </div>
    
</ion-content>
