.background.scroll-content {
  background.scroll-content{
    background: url("https://static.wixstatic.com/media/399918_2c853996413246aab24c05ae0c6256d6~mv2_d_6218_3296_s_4_2.jpeg/v1/fill/w_600,h_318,al_c,q_80,usm_0.66_1.00_0.01/AdobeStock_207075809%20(1).webp") no-repeat;
    background-size: cover;
  }
}
.container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: 100%;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(57, 84, 97, 0.774);
    color: white;
    font-size: 16px;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    
  }
  
  .container .btn:hover {
    background-color: black;
  }

  .pageLogo {
    padding: 0px 15px;
}
