<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">Giving</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img  class="pageLogo" height="44" slot="end" src="../../assets/images/community life.png">
  </ion-toolbar>
</ion-header>

<ion-content class="background" scroll="false">
    
  

   <div class="container">
      <img src="https://static.wixstatic.com/media/399918_2c853996413246aab24c05ae0c6256d6~mv2_d_6218_3296_s_4_2.jpeg/v1/fill/w_600,h_318,al_c,q_80,usm_0.66_1.00_0.01/AdobeStock_207075809%20(1).webp" alt="plant">
      <button type="button" button class="btn" onclick="window.location.href='https://app.securegive.com/daystargso';"> Give Now </button>
    </div>

  
    <div class="container">
      <img src="https://static.wixstatic.com/media/399918_a7eed9fd5c454a8da872601ca8c0a09e~mv2_d_5616_3744_s_4_2.jpeg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/AdobeStock_114397096.webp" alt="plant">
      <button type="button" button class="btn" onclick="window.location.href='http://findmytithe.com/';"> Calculate Your Tithe </button>
    </div>

    <div class="container">
      <img src="https://static.wixstatic.com/media/399918_7b86f8d334ad4c5bba61365654ce4c2d~mv2_d_5472_3648_s_4_2.jpeg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/AdobeStock_134713443.webp" alt="plant">
      <button type="button" button class="btn" onclick="window.location.href='https://www.daystargso.com/give/';"> Why We Give </button>
    </div>

</ion-content>