<ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <!-- <ion-thumbnail slot="start">
        <img  width="90" height="90" src="http://lorempixel.com/64/64/">
      </ion-thumbnail> -->
      <ion-card-header>
        <ion-card-title>Worship Conference</ion-card-title>
        <ion-card-subtitle>June 5-7, 2019 </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Event description goes here!
      </ion-card-content>
    
  </ion-card>
  <ion-card>
      <ion-thumbnail slot="start">
        <img  width="90" height="90" src="http://lorempixel.com/64/64/">
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-title>Baseball in the Park</ion-card-title>
        <ion-card-subtitle>Saturday, June 15, 12-6 pm</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
       Lots of baseball and good food!
      </ion-card-content>
    
  </ion-card>
  <ion-card>
      <ion-thumbnail slot="start">
        <img  width="90" height="90" src="http://lorempixel.com/64/64/">
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-title>Event2</ion-card-title>
        <ion-card-subtitle>Date and Time</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Event description goes here!
      </ion-card-content>
    
  </ion-card>
  <ion-card>
      <ion-thumbnail slot="start">
        <img  width="90" height="90" src="http://lorempixel.com/64/64/">
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-title>Event2</ion-card-title>
        <ion-card-subtitle>Date and Time</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Event description goes here!
      </ion-card-content>
    
  </ion-card>
