<ion-header>
  <ion-toolbar>
    <ion-title>Write a Comment</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-card>
      <ion-item>
          <ion-textarea type="text" rows="5" placeholder="Write Comment Here" floating></ion-textarea>
         
      </ion-item>
  </ion-card> 
<!-- somewhere here I need a post id and a comment id
and the button needs to go back to the post comment/:id page where it will 
see the new comment -->
  <ion-footer>
    <ion-button expand="block" href="./comments/:id"  >Comment</ion-button>
    </ion-footer>

 
</ion-content>
    
    