ion-card {
    position: relative;
    width: 100%;
    background-color:#ffff;
}

ion-card-content {
    background-color:#ffff;
}

ion-content {
    --ion-background-color:#dfe8ec;
}

#commentBody {
    --ion-background-color:#ffff;
}
.pageLogo {
    padding: 0px 15px;
}
