ion-card {
    position: relative;
    width: 100%;
  
}

ion-content {
    --ion-background-color:#dfe8ec;
}

ion-card {
    --ion-background-color:#ffff;
}

.write {
    --ion-color-primary-shade: #304550;
}
