<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="posts">
    <ion-item *ngFor="let post of posts">
      <!-- <ion-card 
    [class.selected]="post === selectedPost"
    (click)="onSelect(post)"> -->
    <ion-card [routerLink]="'/comments/' + post.postId">
        <ion-card-header>
          <ion-card-title>{{post.postId}}: {{post.title}}</ion-card-title>
          <ion-card-subtitle>{{post.userName}}, {{post.createDate}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>{{post.body}}</ion-card-content>
      
        <ion-footer class="cardfooter">
          <ion-item>
              <!-- <ion-button (click)="onSelect()">Comments</ion-button> -->
              <ion-card-subtitle>Comments</ion-card-subtitle>
            </ion-item>
        </ion-footer>
      </ion-card>
    </ion-item>
  </ion-list>

 <!-- <div *ngIf="selectedPost">
    <ion-card-header>
        <ion-card-title>{{selectedPost.postId}}: {{selectedPost.title}}</ion-card-title>
        <ion-card-subtitle>{{selectedPost.userName}}, {{selectedPost.createDate}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>{{selectedPost.body}}</ion-card-content>
    

 </div> -->
  

</ion-content>
<ion-footer>
<ion-button expand="block" href="./create-post"  >Create a post!</ion-button>
</ion-footer>