<ion-header>
  <ion-toolbar>
    <ion-title>Create a New Post</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-card>
      <ion-item>
         <ion-input type="text" placeholder="Post Title Here" floating></ion-input>
      </ion-item>   
      <ion-item>
          <ion-textarea type="text" rows="5" placeholder="Post Content Here" floating></ion-textarea>
         
      </ion-item>
  </ion-card> 

  <ion-footer>
    <ion-button expand="block" href="./posts"  >Save</ion-button>
    </ion-footer>

 
</ion-content>
    
    