
ion-content {
    --ion-background-color:#dfe8ec;
}

ion-card {
    position: relative;
    width: 93%;
    background-color: #ffff;
}

   
.profile {
    --ion-background-color: #ffff;
}
.write {
    --ion-color-primary-shade: #304550;
}
.pageLogo {
    padding: 0px 15px;
}