<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img  class="pageLogo" routerLink="/home" height="44" slot="end" src="../../assets/images/community life.png">
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <ion-list class="profile">
      <ion-item>
        <ion-label>First and Last Name</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>User Name</ion-label>
      </ion-item>
      <ion-item>
       <ion-label>Email</ion-label>
      </ion-item>
     </ion-list>
    </ion-card>
  <ion-item>
     <h3>My Blog Posts:</h3>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let post of posts">
    <ion-card>
      <ion-card-header>
          <ion-card-title> {{post.title}}</ion-card-title>
          <ion-card-subtitle>{{post.userName}}, {{post.createDate}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{post.body}}
      </ion-card-content>
      
      <ion-footer class="cardfooter">
        <ion-row>
            <ion-button  class="write" expand="block"   >Edit</ion-button>
            <!-- <ion-button  class="write" expand="block" (click)="showComments(post.id)"  >Comments</ion-button> -->
        </ion-row> 
        </ion-footer>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

