<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" height="40" src="../../assets/images/community life blue circle only.png">
      <img   height="40" src="../../assets/images/community life words only.png">
    </ion-title>
    <ion-buttons color="tertiary" slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


    <ion-content>

        <div class="container">
            <img src="https://static.wixstatic.com/media/399918_b8748d766bd34ac691a28aceb7fc0b0d~mv2_d_4608_2592_s_4_2.jpg/v1/fill/w_600,h_338,al_c,q_80,usm_0.66_1.00_0.01/adult-applause-audience-952437.webp" alt="worship">
            <button type="button" button class="btn" onclick="window.location.href='events';"> Events </button>
          </div>

          <div class="container">
              <img src="https://static.wixstatic.com/media/399918_031c14c45aad4105972c6ac7a2371b05~mv2_d_5472_3648_s_4_2.jpg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/blogging-blur-communication-261662.webp" alt="Snow">
              <button type="button" button class="btn" onclick="window.location.href='posts';"> Blog </button>
            </div>

            <div class="container">
                <img src="https://static.wixstatic.com/media/399918_a9cda3bccaeb419f8b741ef6c7c4bb08~mv2_d_6000_4000_s_4_2.jpg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/background-blur-category-545331.webp" alt="Snow">
                <button type="button" button class="btn" onclick="window.location.href='media';"> Media </button>
              </div>

      <div class="container">
        <img src="https://static.wixstatic.com/media/399918_2c853996413246aab24c05ae0c6256d6~mv2_d_6218_3296_s_4_2.jpeg/v1/fill/w_600,h_318,al_c,q_80,usm_0.66_1.00_0.01/AdobeStock_207075809%20(1).webp" alt="Snow">
        <button type="button" button class="btn" onclick="window.location.href='giving';"> Giving </button>
      </div>
      
    </ion-content>