<ion-header>
  <ion-toolbar>
    <ion-title>Comments</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card padding>
          <ion-card-header>
            <ion-card-title>{{post.postId}}: {{post.title}}</ion-card-title>
            <ion-card-subtitle>{{post.userName}}, {{post.createDate}}</ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>{{post.body}}</ion-card-content>
       
        <!-- <div *ngIf="post">
            <h2>{{post.title | uppercase}} Details</h2>
  <div><span>id: </span>{{post.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="post.title" placeholder="title"/>
    </label>
  </div>
</div> -->
</ion-card>
       
</div>
      
      <ion-item>
        <ion-button expand="block" href="./create-comment"  >Add Comment</ion-button>
      </ion-item>
        
  

  <ion-item padding>
      <h4>Comments</h4>
  </ion-item>

  <ion-list class="comments">
    <ion-item *ngFor="let comment of comments">

      <ion-card >
          <ion-card-content>
            <ion-item>{{comment.body}}</ion-item> 
            <ion-footer class="cardfooter">
                <ion-card-subtitle>{{comment.userName}}</ion-card-subtitle>
        <!-- <ion-card-subtitle>date created</ion-card-subtitle> -->
            </ion-footer>
          </ion-card-content>
       </ion-card>
    </ion-item>
  </ion-list>
 </ion-content>
 